*, *::before, *::after
{
  box-sizing: border-box;/* prend en compte la bordure, le padding */
  margin: 0;
}

h1
{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2.5em;
  font-weight: bold;
}

h2
{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2em;
  font-weight: bold;
}

h3
{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
a {
  color:#f0f0f0;
}

p
{
  margin-top: 5px;
  margin-bottom: 5px;
}

ul li
{
  margin-top: 5px;
  margin-bottom: 5px;
}

